@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  src: url('/static/CascadiaCode.ttf') format('truetype');
  font-display: fallback;
}

html {
    font-family: 'Cascadia Code';
}

a {
    text-decoration: none;
    color: #C2298A;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #C2298A;
}

#content {
    max-width: 900px;
    margin: 0 auto;
}

.lbox {
    padding: 1em;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0.25em;
    font-weight: normal;
    color: #666;
}

h3 {
    border-bottom: 2px solid #C2298A;
    padding-bottom: 0.25em;
}

h4 {
    margin-bottom: 0.25em;
}

h4 + p {
    margin-top: 0;
    color: #666;
    font-size: 0.9em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.5em 0;
}

article {
    margin-bottom: 1.5em;
}

@media print {
    body {
        font-size: 11pt;
    }
    
    .lbox {
        padding: 0.5em;
    }
}
